body , html , * {
  font-family: 'Roboto', sans-serif !important;
}

form.signin_form {
    margin: 55px auto !important;
    max-width: 350px;
}

div.field input {
    
    padding: 22px 10px !important;
}

div.field input.is-focused {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}