/* déclaration de variable */
:root {
    --blacklite: #1e272e;
    --pureblack:black;
    --whitelight:#dfe4ea;
    --purewhite:#fff;
    --bgsection:#ced6e0;
}

body , html , * {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif
}



/* mise en forme du menu */
nav.navbar {
    background-color:var(--blacklite);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



nav.navbar strong {
    color: var(--whitelight);
}

nav.navbar a.navbar-item {
    transition: color .2s ease-in-out;
}


nav.navbar a.navbar-item:hover {
    background: none;
    opacity: .8;
}


footer {
    background-color: var(--blacklite);
    color: var(--purewhite);
}

footer h4 {
    color: var(--whitelight);
}

footer > div.columns {
    width: 85%;
    margin: auto;
    background-color: inherit;
}